<link rel="stylesheet" href="/static/styles/home_page/home_page_footer.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="position: relative; left: 0%; width: 100%" id="main-footer">
    <div class="home-page-footer-div">
        Могут присутствовать баги.<br>
        По всем предложениям писать в телеграм.<br>
        Михненко Алексей<br>
        <a href="https://github.com/MangoosteMA/Graph-Editor" target="_blank"><i class="fa fa-github"></i></a>
        &nbsp;&nbsp;
        <a href="https://codeforces.com/profile/Mangooste" target="_blank"><img src="/images/codeforces_logo.png" style="height: 11px;"></a>
        &nbsp;&nbsp;
        <a href="https://t.me/mangooste" target="_blank"><i class="fa fa-telegram"></i></a>
    </div>
</div>
