<link rel="stylesheet" href="{{ url_for('static', filename='styles/home_page/home_page_navigation.css') }}" type="text/css">

<nav class="main-nav" id="main-nav">
    <div class="title-div">
        <a href="/" class="title-link">Mangooste</a>
    </div>
    <div class="options-div">
        <span class="option-link-span">
            <a href="/library" class="option-link">Библиотека</a>
        </span>
        <span class="option-last-link-span">
            <a href="/apps/graph-editor" class="option-link">Редактор</a>
        </span>
    </div>
    <div class="sing-in-up-div">
        {% if loggedIn %}
            <a onclick="logOut()" class="sign-in-up-link log-out-link">{{ username }}</a>
            <script>
                function logOut() {
                    fetch("/log-out", { method: "POST", }).then(response => {
                        return response.text()
                    }).then(() => {
                        location.reload();
                    });
                }
            </script>
        {% else %}
            <a href="/login" class="sign-in-up-link">Вход</a>
        {% endif %}
    </div>
</nav>

<div id="main-nav-offset-imulation"></div>

<script>
    const mainNav = document.getElementById("main-nav");
    const offsetNavDiv = document.getElementById("main-nav-offset-imulation");
    offsetNavDiv.style.height = mainNav.offsetHeight + "px";
</script>
