<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home_page/home_page_navigation.css') }}" type="text/css">

<nav class="main-nav" id="main-nav">
    <div class="title-div">
        <a href="/" class="title-link">Mangooste</a>
    </div>
    <div class="options-div">
        <div class="option-link-div">
            <button class="option-button">Библиотека <i class="fa fa-caret-down"></i></button>
            <div class="navigation-link-options-div">
                <a class="option-link" href="/library-algo">Алгоритмы</a>
                <a class="option-link" href="/library-dev">Разработка</a>
            </div>
        </div>
        <div class="option-link-div">
            <button class="option-button">Приложения <i class="fa fa-caret-down"></i></button>
            <div class="navigation-link-options-div">
                <a class="option-link" href="/apps/graph-editor">Графы</a>
            </div>
        </div>
    </div>
    <div class="sing-in-up-div">
        {% if loggedIn %}
            <a onclick="logOut()" class="sign-in-up-link log-out-link">{{ username }}</a>
            <script>
                function logOut() {
                    fetch("/log-out", { method: "POST", }).then(response => {
                        return response.text()
                    }).then(() => {
                        location.reload();
                    });
                }
            </script>
        {% else %}
            <a href="/login" class="sign-in-up-link">Вход</a>
        {% endif %}
    </div>
</nav>

<div id="main-nav-offset-imulation"></div>

<script>
    const mainNav = document.getElementById("main-nav");
    const offsetNavDiv = document.getElementById("main-nav-offset-imulation");
    offsetNavDiv.style.height = mainNav.offsetHeight + "px";
</script>
