<div class="top-buttons">
    <div class="svg-left-buttons-div">
        <div class="top-buttons-shadow">
            <button class="direction-button direction-button-first" style="width: 136px;"
                    id="decrease-nodes-button">0-индексация</button>
            <button class="direction-button direction-button-last" style="width: 136px;"
                    id="increase-nodes-button">1-индексация</button>
        </div>
    </div>
    <div class="svg-right-buttons-div">
        <button class="play-pause-button" id="skip-animation-button">
            <img class="play-pause-image" style="transform: translateX(1px)" src="/images/skip.png">
        </button>
        <button class="play-pause-button" id="play-button" style="margin-left: 8px;">
            <img class="play-pause-image" style="transform: translateX(1px)" src="/images/play.png">
        </button>
        <button class="play-pause-button" id="pause-button" style="display: none; margin-left: 8px;">
            <img class="play-pause-image" src="/images/pause.png">
        </button>
        <button class="play-pause-button" style="margin-left: 8px;" id="reset-button">
            <img class="play-pause-image" src="/images/reset.png">
        </button>
        <button class="play-pause-button" style="margin-left: 8px;" id="arrangements-selection-button">
            <img class="play-pause-image" src="/images/settings_logo.png">
        </button>
    </div>
</div>
<div class="main-svg-div" id="main-svg-div">
    <svg class="main-svg" id="svg" width="500" height="500">
    </svg>
</div>
<div class="svg-bottom-div">
    <div style="display: inline-block;">
        <div class="top-buttons-shadow">
            <button class="increase-decrease-button direction-button direction-button-first" style="width: 20px;"
                    id="decrease-font-size-button">a</button>
            <button class="increase-decrease-button direction-button direction-button-last" style="width: 20px;"
                    id="increase-font-size-button">A</button>
        </div>
    </div>
    <div style="flex: 1; text-align: right;">
        <div class="top-buttons-shadow">
            <button class="increase-decrease-button direction-button direction-button-first" style="width: 20px;"
                    id="decrease-radius-button">&ndash;</button>
            <button class="increase-decrease-button direction-button direction-button-last" style="width: 20px;"
                    id="increase-radius-button">+</button>
        </div>
    </div>
</div>
<div class="resizer-div" id="graph-editor-resizer-div">&#8597;&#8597;&#8597;</div>
