<div class="right-panel-inside-div">
    <div class="top-buttons" style="justify-content: right; transform: translateX(-5px);">
        <button class="play-pause-button" id="dark-mode-button">
            <img class="play-pause-image" src="/images/sun.png">
        </button>
        <button class="play-pause-button" id="light-mode-button" style="display: none;">
            <img class="play-pause-image" src="/images/moon.png">
        </button>
    </div>
    <details class="data-details" id="nodes-details"><summary>Вершины</summary></details>
    <details class="data-details" id="edges-details"><summary>Рёбра</summary></details>
    <details class="data-details" id="text-objects-details" style="margin-bottom: 20px;"><summary>Текст
            <button class="nodes-button add-object-button" id="create-new-text-object-button">
                <img class="play-pause-image" src="/images/plus.png">
            </button>
        </summary>
    </details>
    <div style="text-align: center; margin-bottom: 20px;">
        <button class="export-button" id="export-to-svg-button">Экспорт в svg</button>
    </div>
</div>
