<div class="left-panel-inside-div">
    <div class="top-buttons" style="text-align: left;">
        <div class="top-buttons-shadow" style="width: 100%;">
            <div style="width: 50%; display: inline-flex;">
                <button class="direction-button direction-button-first" style="width: 100%;" id="make-directed-button">Ориентировать</button>
            </div>
            <div style="flex: 1; display: inline-flex;">
                <button class="direction-button direction-button-last" style="width: 100%;" id="remove-direction-button">Убрать ориентацию</button>
            </div>
        </div>
    </div>
    <div class="nodes-edges-div">
        <div class="textarea-title-div">Ввод</div>
        <div class="editor-outside-div">
            <div class="lines-div" id="edges-lines-div"></div>
            <div style="display: inline-block; height: 100%; width: 300px;">
                <div class="nodes-edges-background" id="edges-textarea-background"></div>
                <textarea class="nodes-edges-textarea" id="edges-textarea" autocorrect="off" autocapitalize="off"></textarea>
            </div>
            <div class="settings-div" id="edges-settings-div"></div>
        </div>
    </div>
    <details class="data-details" id="random-graphs-generation-details" style="margin-top: 15px;"><summary>Генерация графов</summary></details>
</div>
