<div class="right-panel-inside-div">
    <div class="top-buttons" style="justify-content: right; transform: translateX(-5px);">
        <button class="play-pause-button" id="dark-mode-button">
            <img class="play-pause-image" src="/images/sun.png">
        </button>
        <button class="play-pause-button" id="light-mode-button" style="display: none;">
            <img class="play-pause-image" src="/images/moon.png">
        </button>
    </div>
    <details class="data-details" id="nodes-details"><summary>Вершины</summary></details>
    <details class="data-details" id="edges-details" style="margin-bottom: 20px;"><summary>Рёбра</summary></details>
</div>
