<script type="text/javascript">
    document.title = "Префикс функция";
</script>
<div class="library-title-div">
Префикс функция
</div>
<details class="main-details">
    <summary class="main-summary">
        Теория
    </summary>
    <div class="add-tab-div">

    </div>

</details>
<details class="main-details">
    <summary class="main-summary">
        Время работы
    </summary>
    <div class="add-tab-div">
    Итоговое время работы алгоритма составляет <font size="+1">&#119978;</font>\((|S|)\). 
    </div>

</details>
<details class="main-details">
    <summary class="main-summary">
        Реализация
    </summary>
    <div class="add-tab-div">
    <div class="code-details-div">
    <div class="code-navigation-div">
        <div class="language-div">
            C++
        </div>
        <button class="copy-code-button" onclick="copyCode('eae7164874d4421f961cc06f861fc7ca.cpp')">
            Скопировать
        </button>
<img class="check-mark-image" src="/images/check_mark.png" id="eae7164874d4421f961cc06f861fc7ca.cpp-check-img">
    </div>
<pre><code class="C++" id="eae7164874d4421f961cc06f861fc7ca.cpp">{{ mainCpp }}</code></pre>
</div>

    </div>

</details>
