@import "../base_styles.css";

:root {
    --default-tab-size-main: 28px;
    --default-tab-size-simple: 23px;
}

.body-div {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    max-width: 95%;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: var(--base-font-color);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.9);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: 2px var(--base-white-font-color) solid;
    font-family: var(--base-font-family);
}

.library-body-inside-div {
    margin-left: calc(100px - var(--default-tab-size-main));
    margin-right: 100px;
    min-height: 15px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.library-body-inside-div::-webkit-scrollbar {
    display: none;
}

.library-body-inside-div > * {
    font-family: var(--base-font-family);
    color: var(--base-white-font-color);
    word-wrap: break-word;
}

.library-title-div {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: var(--base-white-font-color);
    padding-bottom: 10px;
    display: block;
    padding-left: var(--default-tab-size-main);
}

summary {
    color: var(--base-white-font-color);
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}

details[open] summary {
    margin: 0px;
    margin-bottom: 10px;
}

details {
    font-size: 17px;
}

details[open] {
    margin-bottom: 10px;
}

.main-summary {
    font-size: 20px;
}

.simple-summary {
    font-size: 17px;
}

.language-div {
    display: inline-flex;
    align-items: center;
    height: 100%;
    line-height: 100%;
    margin-left: 10px;
    color: var(--base-font-color);
    font-size: 15px;
}

.code-details-div {
    margin-top: 12px;
    margin-bottom: 15px;
    font-weight: 600;
    background-color: var(--base-white-font-color);
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--base-white-font-color);
}

.code-navigation-div {
    height: 18px;
    margin-bottom: 2px;
}

.copy-code-button {
    float: right;
    font-size: 10px;
    background-color: white;
    border: 1px solid var(--base-font-color);
    border-radius: 5px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-right: 10px;
}

.copy-code-button:hover {
    background-color: transparent;
}

.copy-code-button:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.check-mark-image {
    display: none;
    float: right;
    max-height: 60%;
    object-fit: contain;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    padding-right: 5px;
}

.main-details {
    margin-top: 7px;
}

.link {
    color: inherit;
}

pre {
    padding: 0px;
    margin: 0px;
}

code {
    border-radius: 10px;
    font-size: 15px;
    max-height: 400px;
}

.add-tab-div {
    margin-left: var(--default-tab-size-main);
    color: var(--base-white-font-color);
    text-align: justify;
}

.center-align-div {
    text-align: center;
    align-items: center;
    padding-left: var(--default-tab-size-main);
}

li {
    margin-bottom: 8px;
}

ol, ul {
    margin: 0;
    padding-left: 25px;
}

