@import "../base_styles.css";

.half-half-div {
    min-height: 100px;
    display: flex;
}

.left-half-div {
    width: 50%;
}

.right-half-div {
    flex: 1;
    max-width: 50%;
    overflow-y: scroll;
}

.library-editor {
    height: max(625px, calc(100vh - 300px));
    box-sizing: border-box;
}

.left-half-div, .right-half-div {
    max-height: calc(max(625px, calc(100vh - 300px)) + 80px);
}

.library-editor-outer {
    margin-top: 15px;
    width: calc(100% - 16px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px solid var(--base-white-font-color);
    padding: 0px;
}

.editor-buttons-holder {
    background-color: var(--base-light-dark-background-color);
    width: 100%;
    height: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-height: 25px;
    border-bottom: 1px solid var(--base-white-font-color);
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.editor-buttons-holder::-webkit-scrollbar {
    display: none;
}

.editor-button {
    margin-left: 10px;
    color: var(--base-white-font-color);
    font-family: var(--base-font-family);
    background-color: transparent;
    height: 100%;
    line-height: 100%;
    font-size: 15px;
    border-radius: 7px;
    border: none;
}

.editor-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.editor-button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.panel-rename-div {
    overflow: scroll;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: var(--base-white-font-color);
    font-family: var(--base-font-family);
    background-color: var(--base-light-dark-background-color);
}

input[type=text] {
    border-radius: 5px;
    padding-left: 5px;
    width: 300px;
    font-size: 15px;
    border: 1px solid var(--base-white-font-color);
    color: var(--base-white-font-color);
    background-color: transparent;
    margin-top: 2px;
    margin-bottom: 2px;
}
