<!-- <div class="top-buttons-container">
</div> -->
<div class="editor-shadow-div editor-left-shadow-div">
    <div class="editor-outer-div">
        <div class="library-editor" id="library-editor">
            <div class="editor-lines-indexes-div" id="lines-holder-div"></div>
            <div class="editor-inside-container">
                <div class="editor-textarea-background" id="main-textarea-background"></div>
                <textarea class="editor-textarea" id="main-textarea">def check(a: int, b: int, c: int) -> bool:
    pass</textarea>
            </div>
        </div>
    </div>
    <div class="test-to-submit-div">
        <div class="centered-div">
            <form id="variables-form">
                <table cellpadding="5">
                    <tr>
                        <td class="variables-td">a</td>
                        <td class="variables-td">b</td>
                        <td class="variables-td">c</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="a" class="variable-input" value="1"></td>
                        <td><input type="text" name="b" class="variable-input" value="1"></td>
                        <td><input type="text" name="c" class="variable-input" value="1"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="centered-div">
            <button id="add-test-button" class="action-button" style="margin-right: 10px;">добавить</button>
            <button id="run-code-button" class="action-button" style="margin-right: 10px;">запустить</button>
            <button id="submit-button" class="action-button">отправить</button>
        </div>
    </div>
</div>
