<!-- <div class="top-buttons-container">
</div> -->
<div class="editor-shadow-div editor-right-shadow-div">
    <div class="table-container-div">
        <table class="output-table" id="output-table">
            <tr class="first-table-row">
                <td class="variable-col">a</td>
                <td class="variable-col">b</td>
                <td class="variable-col">c</td>
                <td class="result-col">check</td>
                <td class="result-col">output</td>
            </tr>
        </table>
    </div>
</div>
