<link rel="stylesheet" href="{{ url_for('static', filename='styles/guess_the_code/guess_the_code_admin.css') }}" type="text/css">

<div class="editor-outer-div">
    <div class="left-div left-div-admin">
        <div class="editor-shadow-div editor-left-shadow-div">
            <div class="editor-outer-div editor-outer-div-admin">
                <div class="library-editor">
                    <div class="editor-lines-indexes-div" id="lines-holder-div-admin-code"></div>
                    <div class="editor-inside-container">
                        <div class="editor-textarea-background" id="main-textarea-background-admin-code"></div>
                        <textarea class="editor-textarea" id="main-textarea-admin-code">{{ gameCode | safe }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-div right-div-admin">
        <div class="editor-shadow-div editor-right-shadow-div">
            <div class="editor-outer-div editor-outer-div-admin">
                <div class="library-editor">
                    <div class="editor-lines-indexes-div" id="lines-holder-div-admin-test"></div>
                    <div class="editor-inside-container">
                        <div class="editor-textarea-background" id="main-textarea-background-admin-test"></div>
                        <textarea class="editor-textarea" id="main-textarea-admin-test">{{ testsDescriber | safe }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="admin-action-div">
    <div class="centered-div">
        <button id="save-admin-button" class="action-button" style="margin-right: 10px;">сохранить</button>
        <button id="exit-admin-button" class="action-button">выйти</button>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts/guess_the_code/guess_the_code_admin.js') }}" type="module"></script>
