<link rel="stylesheet" href="/static/styles/text_editor/text_editor.css" type="text/css">
<link rel="stylesheet" href="/static/styles/guess_the_code/guess_the_code_game.css" type="text/css">
<link rel="stylesheet" href="/static/styles/guess_the_code/guess_the_code_objects.css" type="text/css">
<link rel="stylesheet" href="/static/styles/library_page/library_page.css" type="text/css">

<div>
    <div class="body-div">
        <div>
            <div class="game-title-div">Guess the code #{% .gameId %}</div>
            <button class="library-edit-button" id="game-edit-button">edit</button>
        </div>

        <div class="editor-outer-div" id="editor-outer-div">
            <div class="left-div">
                {% template "guess_the_code_game_left_panel.html" . %}
            </div>
            <div class="right-div">
                {% template "guess_the_code_game_right_panel.html" . %}
            </div>
        </div>

        {% if .admin %}
            <div id="editor-outer-admin-div" style="display: none;">
                {% template "guess_the_code_admin.html" . %}
            </div>
        {% end %}
    </div>
</div>

<script src="/static/scripts/text_editor/text_coloring_rules/text_modifier.js" type="module"></script>
<script src="/static/scripts/text_editor/text_coloring_rules/coloring_rule_interface.js" type="module"></script>
<script src="/static/scripts/text_editor/text_coloring_rules/bracket_coloring_rule.js" type="module"></script>
<script src="/static/scripts/text_editor/text_coloring_rules/key_words_coloring_rule.js" type="module"></script>
<script src="/static/scripts/text_editor/input_preprocessor.js" type="module"></script>
<script src="/static/scripts/guess_the_code/test.js" type="module"></script>
<script src="/static/scripts/guess_the_code/utils.js" type="module"></script>
<script src="/static/scripts/guess_the_code/submitter.js" type="module"></script>
<script src="/static/scripts/guess_the_code/guess_the_code_game.js" type="module"></script>
